  <div class="row">
    <div class="col-md-6">
      <h2>Add an ingredient:</h2>
      <form action="/ingredients" method="post">
      <label for="ingredient-name">Ingredient Name:</label>
      <input type="text" name="ingredient-name" class="form-control">
      <br>
      <button type="submit" class="btn-lg btn-success outline">Add Ingredient</button>
      <a href="/" class="btn-lg btn-primary outline">home</a>
    </form>
    </div>
    <div class="col-md-6">
      <h2>Ingredients:</h2>
      <% @ingredients.each do |ingredient| %>
        <h4><%= ingredient.name%></h4>
      <% end %>
    </div>
  </div>
