<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Box</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link  rel='stylesheet' href="/css/styles.css" >
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
  </head>
  <body>
    <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1><a href="/">Spencer's Box</a> <span id="of_recipes">(of recipes)</span></h1>
      </div>
      <div class="col-sm-4" id="search">
        <form class="form-inline" action="/search">
          <label for="search">Search:</label>
          <div class="form-group">
            <input type="text" name="search" class="form-control">
          </div>
        </form>
      </div>
    </div>
    <hr>
      <%= yield %>
    </div>
  </body>
</html>
