<div class="row">
  <div class="col-md-6">
    <h1>Edit <%= @tag.name %></h1>
    <form action="/tags" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="tag-id" value="<%= @tag.id %>">
      <label for="tag-name">Tags Name:</label>
      <input type="text" name="tag-name" class="form-control" value="<%= @tag.name %>">
      <br>
      <button type="submit" class="btn-lg btn-success outline">Update Tags</button>
    </form>
  </div>
</div>
<br>
<form action="/tags" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="tag-id" value="<%= @tag.id %>">
  <button type="submit" class="btn-lg btn-danger outline">Delete Tags</button>
</form>
